@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <NavLink class="px-2" href="Account/Manage">
                        <span class="m-2" aria-hidden="true">@context.User.Identity?.Name</span>
                    </NavLink>
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                        <button type="submit" class="btn btn-danger">
                            <span class="m-2" aria-hidden="true">Logout</span>
                        </button>
                    </form>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="px-2" href="Account/Register">
                        <span class="m-2" aria-hidden="true">Register</span>
                    </NavLink>
                    <NavLink class="px-2" href="Account/Login">
                        <span class="m-2" aria-hidden="true">Login</span>
                    </NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    Uh-oh, the hamsters running our servers got tired! You might need to 
    <a href="" class="reload"> reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}