@page "/404"

<h3>The Book of Error</h3>
And it shall be, that when thou seest this sign: <b>404</b>, thou shalt know that thou hast wandered into the Wilderness of Error. 
<br>
For thus saith the Lord of Cyberspace: <i>'Turn thee back, O mortal, from the shadows of error, for the path of truth awaiteth thee'.</i>
<br>
May thy journey be guided by the light of knowledge, and may thou avoid the snares of ignorance.