@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello @context.User.Identity?.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Hello!</h1>
    </NotAuthorized>
</AuthorizeView>

Welcome to SurveySphere. <br>
Log into your account to create surveys
