@page "/survey/create"

@using WebApp.Models
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Create New Survey</h1>
<EditForm Model="survey" OnValidSubmit="Submit" FormName="CreateSurvey" @key="survey">
    <div class="form-control">
        <InputText placeholder="Title" @bind-Value="@survey.Title" />
    </div>
    @* <div class="form-control">
        <InputNumber @bind-Value="@survey.QuestionNumber" />
    </div> *@
    @* <br />
    <div class="form-control">
        @foreach (var question in survey.Questions)
        {
            <InputText placeholder="Question title" @bind-Value="@question.Title" />
            <InputSelect @bind-Value="@question.Type">
                <option value="MultipleChoice">Multiple Choice</option>
                <option value="SingleChoice">Open-ended</option>
            </InputSelect>
        }
    </div> *@
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>


@code {
    [SupplyParameterFromForm]
    public Survey survey { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        survey = new();
        survey.Questions = new List<Question>();
    }
    public void Submit()
    {

    }
}
